/Shelter/nbproject/private/
/Shelter/nbproject/private/private.xml
/Shelter/build/
/ShelterServer/nbproject/private/
/ShelterServer/build/
/ShelterClient/nbproject/private/
/ShelterClient/ShelterClient-war/nbproject/private/
/ShelterClient/ShelterClient-ejb/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/ShelterClient/ShelterClient-ejb/build/
/ShelterClient/build/
/ShelterClient/dist/
/Shelter/dist/
/ShelterServer/dist/
/HASHCODE2018/nbproject/private/
/ShelterDB/